
h1 {color: red; font-family: Arial, sans-serif; font-size: 20px; }
h3 {color: red; font-family: Arial, sans-serif; font-size: 16px; }
p { color: black; font-family: Verdana, sans-serif; font-size: 12px; border: solid;}
ul { color: black; font-family: Verdana, sans-serif; font-size: 12px; }
